api_gateway_tag=latest
user_service_tag=latest
ad_service_tag=latest
notification_service_tag=latest

DOCKER_REGISTRY=
AWS_DEFAULT_REGION=ap-south-1
API_GATEWAY_IMAGE=
USER_SERVICE_IMAGE=
AD_SERVICE_IMAGE=
NOTIFICATION_SERVICE_IMAGE=


DB_HOST=database
DB_PORT=5432
NOTIFICATION_DB_NAME=notif_db
USER_DB_NAME=user_db
AD_DB_NAME
DB_USER=oxouser
DB_PASSWORD=oxo12345


environment=staging

# Mobile share link credentials
SIGNIN_KEY=
ANDROID_PACKAGE_NAME=
IOS_BUNDLE_ID=
DOMAIN_URI_PREFIX=

#firebase credentials
FIREBASE_WEB_KEY=

# amazon web services settings
aws_s3_id=
aws_s3_secret=
storage_type=s3
buckename=oxo-storage

#jwt credentials
JWT_SECRET_KEY=jwtsecret
JWTRefreshKey=refreshkey


# notification service
NOTIFICATION_SERVICE_API_KEY=

